.root {
    display: 'flex',
  },
.appBar {
    transition: theme.transitions.create(['margin', 'width'], {
      easing: theme.transitions.easing.sharp,
      duration: theme.transitions.duration.leavingScreen,
    }),
  },
.appBarShift {
    width: `calc(100% - ${drawerWidth}px)`,
    marginLeft: drawerWidth,
    transition: theme.transitions.create(['margin', 'width'], {
      easing: theme.transitions.easing.easeOut,
      duration: theme.transitions.duration.enteringScreen,
    }),
  },
.menuButton {
    marginRight: theme.spacing(2),
  },
.hide {
    display: 'none',
  }
.drawer {
    width: drawerWidth,
    flexShrink: 0,
  }
.drawerPaper {
    width: drawerWidth,
  }
.drawerHeader {
    display: 'flex',
    alignItems: 'center',
    padding: theme.spacing(0, 1),
    ...theme.mixins.toolbar,
    justifyContent: 'flex-end',
  }
.card {
      minWidth: 275,
    },
.bullet {
      display: 'inline-block',
      margin: '0 2px',
      transform: 'scale(0.8)',
    },
.title {
      fontSize: 14,
    },
.pos {
      marginBottom: 12,
}
